In [1]:
import pandas as pd

In [2]:
df_1=pd.read_csv(r"D:\Pro\Project Data\articles.csv")

In [8]:
df_1.shape

(105542, 25)

In [9]:
df_1.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [10]:
df_2=pd.read_csv(r"D:\Pro\Project Data\transactions_train-001.csv")

In [13]:
df_2.head()
df_2.shape

(31788324, 5)

In [8]:
df_2.tail()

,t_dat,customer_id,article_id,price,sales_channel_id
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

In [14]:
def_merged=df_2.merge(df_1,on='article_id')

In [15]:
def_merged.head()

,t_dat,customer_id,article_id,price,sales_channel_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,...,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
1,2018-09-20,3681748607f3287d2c3a65e00bb5fb153de30e9becf158...,663713001,0.049475,2,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,...,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
2,2018-09-20,4ef5967ff17bf474bffebe5b16bd54878e1d4105f7b4ed...,663713001,0.050831,2,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,...,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
3,2018-09-20,6b7b10d2d47516c82a6f97332478dab748070f09693f09...,663713001,0.050831,1,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,...,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
4,2018-09-20,8ac137752bbe914aa4ae6ad007a9a0c5b67a1ab2b2d474...,663713001,0.050831,2,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,...,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."

In [16]:
def_merged['product_code'].isnull().sum()

0

In [17]:
def_merged.columns

Index(['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id',
       'product_code', 'prod_name', 'product_type_no', 'product_type_name',
       'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc'],
      dtype='object')

In [18]:
columns_to_keep = ['t_dat', 'article_id', 'price', 'product_group_name', 'product_code','product_type_no']

# Drop columns not in the 'columns_to_keep' list
columns_to_drop = [col for col in def_merged.columns if col not in columns_to_keep]
filtered_df = def_merged.drop(columns=columns_to_drop)

In [19]:
filtered_df.columns

Index(['t_dat', 'article_id', 'price', 'product_code', 'product_type_no',
       'product_group_name'],
      dtype='object')

In [20]:
filtered_df.head()

,t_dat,article_id,price,product_code,product_type_no,product_group_name
0,2018-09-20,663713001,0.050831,663713,283,Underwear
1,2018-09-20,663713001,0.049475,663713,283,Underwear
2,2018-09-20,663713001,0.050831,663713,283,Underwear
3,2018-09-20,663713001,0.050831,663713,283,Underwear
4,2018-09-20,663713001,0.050831,663713,283,Underwear

In [21]:
filtered_df['price'].isnull().sum()

0

In [22]:
filtered_df.shape

(31788324, 6)

In [23]:
filtered_df.tail()

,t_dat,article_id,price,product_code,product_type_no,product_group_name
31788319,2020-09-22,860135008,0.038119,860135,259,Garment Upper body
31788320,2020-09-22,539060028,0.016017,539060,308,Garment Upper body
31788321,2020-09-22,539060028,0.016000,539060,308,Garment Upper body
31788322,2020-09-22,810737015,0.033881,810737,49,Underwear/nightwear
31788323,2020-09-22,533261032,0.033881,533261,256,Garment Upper body

In [24]:
filtered_df.to_csv('Actual_data_cdac.csv',index=False)

In [26]:
# Group by 't_dat' and 'product_group_name', then calculate sum of quantities
grouped = filtered_df.groupby(['t_dat', 'product_group_name']).sum().reset_index()

# Merge the grouped data back to the original DataFrame
filtered_df = pd.merge(filtered_df, grouped, on=['t_dat', 'product_group_name'], how='left')

# Rename the newly created column


# Print the updated DataFrame
print(filtered_df)

               t_dat  article_id_x_x  price_x_x  product_code_x_x  \
0         2018-09-20       663713001   0.050831            663713
1         2018-09-20       663713001   0.049475            663713
2         2018-09-20       663713001   0.050831            663713
3         2018-09-20       663713001   0.050831            663713
4         2018-09-20       663713001   0.050831            663713
...              ...             ...        ...               ...
31788319  2020-09-22       860135008   0.038119            860135
31788320  2020-09-22       539060028   0.016017            539060
31788321  2020-09-22       539060028   0.016000            539060
31788322  2020-09-22       810737015   0.033881            810737
31788323  2020-09-22       533261032   0.033881            533261

          product_type_no_x_x   product_group_name  article_id_y_x  \
0                         283            Underwear   1887449599175
1                         283            Underwear   1887449599175
2                         283            Underwear   1887449599175
3                         283            Underwear   1887449599175
4                         283            Underwear   1887449599175
...                       ...                  ...             ...
31788319                  259   Garment Upper body  13200195823059
31788320                  308   Garment Upper body  13200195823059
31788321                  308   Garment Upper body  13200195823059
31788322                   49  Underwear/nightwear       810737015
31788323                  256   Garment Upper body  13200195823059

           price_y_x  product_code_y_x  product_type_no_y_x  article_id_x_y  \
0          72.733678        1887449580               970919   1887449599175
1          72.733678        1887449580               970919   1887449599175
2          72.733678        1887449580               970919   1887449599175
3          72.733678        1887449580               970919   1887449599175
4          72.733678        1887449580               970919   1887449599175
...              ...               ...                  ...             ...
31788319  560.060407       13200195690              4098883  13200195823059
31788320  560.060407       13200195690              4098883  13200195823059
31788321  560.060407       13200195690              4098883  13200195823059
31788322    0.033881            810737                   49       810737015
31788323  560.060407       13200195690              4098883  13200195823059

           price_x_y  product_code_x_y  product_type_no_x_y  \
0          72.733678        1887449580               970919
1          72.733678        1887449580               970919
2          72.733678        1887449580               970919
3          72.733678        1887449580               970919
4          72.733678        1887449580               970919
...              ...               ...                  ...
31788319  560.060407       13200195690              4098883
31788320  560.060407       13200195690              4098883
31788321  560.060407       13200195690              4098883
31788322    0.033881            810737                   49
31788323  560.060407       13200195690              4098883

              article_id_y_y     price_y_y  product_code_y_y  \
0           6171960189302250  2.378391e+05     6171960126600
1           6171960189302250  2.378391e+05     6171960126600
2           6171960189302250  2.378391e+05     6171960126600
3           6171960189302250  2.378391e+05     6171960126600
4           6171960189302250  2.378391e+05     6171960126600
...                      ...           ...               ...
31788319  209407906537007976  8.884798e+06   209407904426160
31788320  209407906537007976  8.884798e+06   209407904426160
31788321  209407906537007976  8.884798e+06   209407904426160
31788322           810737015  3.388136e-02            810737
31788323  209407906537007976  8.884798e+06   209407904426160

          product_type_no_y_y
0                  3174905130
1                  3174905130
2                  3174905130
3                  3174905130
4                  3174905130
...                       ...
31788319          65024679912
31788320          65024679912
31788321          65024679912
31788322                   49
31788323          65024679912

[31788324 rows x 18 columns]